[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/syntonyze
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/syntonyze
	label-Verified = -1..+1 group user/syntonyze
	push = group user/syntonyze
	read = group user/syntonyze
	rebase = group user/syntonyze
	removeReviewer = group user/syntonyze
	submit = group user/syntonyze
[access "refs/heads/*"]
	create = group user/syntonyze
	push = +force group user/syntonyze
	pushMerge = group user/syntonyze
	read = group user/syntonyze
[access "refs/tags/*"]
	push = group user/syntonyze
	push = +force group user/syntonyze
